html, body {
  overflow: auto !important;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div#code {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
}

input#input-code {
  text-align: center;
  width: 320px;
  max-width: 80%;
}

div.label {
  font-size: 1.2em;
  margin: 0.5em;
}

div.status {
  font-size: 2em;
}
